.globalContainer {
  margin-bottom: 5rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width > 767px) {
  .imageContainer {
    width: 40rem;
  }
  .globalContainer {
    margin: 0rem 10rem 10rem 10rem;
  }
}
